# General
.env
.env.local
.env.development
.env.development.local
.env.test
.env.test.local
.env.production
dist/
node_modules/
yarn-error.log
npm-debug.*

# Server
/uploads

# App
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
.expo/

# Plugin
medusa-plugin-pos/api/
medusa-plugin-pos/services/
medusa-plugin-pos/subscribers/

# macOS
.DS_Store
